html {
  height: 100%;
  width: 100%;
}

body {
  font: 14px arial;
  text-align: center;
}

.wrapper {
  margin: 0 auto; /* center it all on the page*/
  width: 440px; /* set width of order form */

  background-color: #fffacd;
  padding: 20px;
  border: 2px solid red;
}

.heading {
  font: 20px arial;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 25px;

  color: red;
}

.subheading {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.field {
  margin-bottom: 5px;
  text-align: right;
}

.box {
  display: flex;
  gap: 35px;
}